/* 
    Document   : style
    Created on : Mar 21, 2017, 9:02:42 PM
    Author     : akshay
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

background-image:url("")

